<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="/admin/_fragments :: head(~{::title})">
  <meta charset="UTF-8">
  <title>标签管理</title>
  <link rel="stylesheet" href="/blog/static/semantic/semantic.css" th:href="@{/static/semantic/semantic.css}">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
  <script src="/blog/static/semantic/semantic.js" th:src="@{/static/semantic/semantic.js}"></script>
</head>
<body class="m-bg-first">
<!--  导航栏  -->
<nav th:replace="/admin/_fragments :: menu(3)"></nav>

<div class="ui attached pointing menu m-lucency-most-white">
  <div class="ui container">
    <div class="right menu">
      <a href="#" id="new" onclick="newTag()" class="item">新建</a>
      <a href="#" id="show" onclick="listTag()" class="teal active item">列表</a>
    </div>
  </div>
</div>
<div class="ui container">
  <div class="ui success message" th:unless="${#strings.isEmpty(success)}">
    <i class="close icon"></i>
    <div class="header">&nbsp;成功</div>
    <p th:text="${success}">提示信息</p>
  </div>
  <div class="ui negative message" th:unless="${#strings.isEmpty(fail)}">
    <i class="close icon"></i>
    <div class="header">&nbsp;错误</div>
    <p th:text="${fail}">提示信息</p>
  </div>
</div>

<div id="newTagDiv" style="display: none;">
  <div class="ui container" style="padding-top: 30px;">
    <div class="ui segment m-lucency-most-white">
      <form class="ui form" method="post" th:action="@{/admin/tag/new/submit}">
        <div class="field">
          <label>标签名称</label>
          <input tag="text" name="name" placeholder="输入标签名称">
        </div>
        <button class="ui button" tag="submit">提交</button>
        <div class="ui error message"></div>
      </form>
    </div>
  </div>
</div>

<div id="listTagDiv">
  <div class="ui container" style="padding-top: 30px;">
    <table class="ui compact table m-lucency-most-white">
      <thead>
      <tr><th></th>
        <th>标签名称</th>
        <th>操作</th>
      </tr></thead>
      <tbody>
      <tr th:each="tag:${pageInfo.list}">
        <td></td>
        <td th:text="${tag.name}">分类1</td>
        <td>
          <a class="ui teal button" th:href="@{/admin/tag/{id}/edit(id=${tag.id})}">编辑</a>
          <a class="ui red button" th:href="@{/admin/tag/{id}/delete(id=${tag.id})}">删除</a>
        </td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <th colspan="6">
          <div class="ui floated pagination menu" style="align: center !important;" th:if="${pageInfo.pages>1}">
            <a th:href="@{/admin/tag/{page}(page=${pageInfo.pageNum}-1)}" class="item" th:if="${pageInfo.isHasPreviousPage()}">上一页</a>
            <a class="item" th:if="${pageInfo.pages>2}">第<span th:text="${pageInfo.pageNum}">1</span>页</a>
            <a th:href="@{/admin/tag/{page}(page=${pageInfo.pageNum}+1)}" class="item" th:if="${pageInfo.isHasNextPage()}">下一页</a>
          </div>
        </th>
      </tr>
      </tfoot>
    </table>
  </div>
</div>

</body>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<script>
  $('.menu.toggle').click(function(){
    $('.m-item').toogleClass('m-mobile-hide');
  });
  $('.ui.dropdown').dropdown({
    on: 'hover'
  });
  $('.message .close')
          .on('click', function(){
            $(this)
                    .closest('.message')
                    .transition('fade');
          });

  /*以下两个方法用来设置分类 “发布” 与 “列表” 两个菜单的样式*/
  function newTag(){
    var newTag = document.getElementById("newTagDiv");
    var listTag = document.getElementById("listTagDiv");
    newTag.style.display = "block";
    listTag.style.display = "none";
    $("#show").removeClass("teal active");
    $("#new").addClass("teal active");
  }

  function listTag(){
    var newTag = document.getElementById("newTagDiv");
    var listTag = document.getElementById("listTagDiv");
    newTag.style.display = "none";
    listTag.style.display = "block";
    $("#new").removeClass("teal active");
    $("#show").addClass("teal active");
  }

  $('.ui.form').form({
    fields:{
      title: {
        identifier : 'title',
        rules: [{
          tag: 'empty',
          prompt: '标题不能为空'
        }]
      },
      introduce: {
        identifier : 'introduce',
        rules: [{
          tag: 'empty',
          prompt: '简介不能为空'
        }]
      }
    }
  })

</script>
</html>