<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <settings>
        <!--是否开启自动驼峰命名规则（camel case）映射，即从经典数据库列名 A_COLUMN 到经典 Java 属性名 aColumn 的类似映射。 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <typeAliases>
        <!-- 批量导入基本类别名 -->
        <package name="blog.myblog.entity.Blog"/>
        <package name="blog.myblog.entity.User"/>
        <package name="blog.myblog.entity.Type"/>
        <package name="blog.myblog.entity.Tag"/>
        <package name="blog.myblog.entity.LeaveWord"/>
    </typeAliases>


    <!-- 注册分页插件 -->
    <plugins><!--要放在typeAliases之后，否则会报错-->
        <!-- com.github.pagehelper为PageHelper类所在包名 -->
        <plugin interceptor="com.github.pagehelper.PageInterceptor">
            <!-- 使用下面的方式配置参数，后面会有所有的参数介绍 -->
            <property name="helperDialect" value="mysql" />
            <property name="reasonable" value="true" />
            <property name="supportMethodsArguments" value="true" />
            <property name="autoRuntimeDialect" value="true" />
        </plugin>
    </plugins>
</configuration>


