<!DOCTYPE html>
<html lang="zh-Hans">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>编译中梦见未来</title>
    <link rel="stylesheet" href="/blog/static/mine/load.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
</head>

<body>

<script type="text/javascript">
    // 等待所有加载
    $(window).load(function(){
    $('body').addClass('loaded');
    $('#loader-wrapper .load_title').remove();
});
</script>

<div class="channel">
    bilibili 编译中梦见未来
</div>
<div class="container">
    <div class="loader">
        <div class="petal" style="--i:1"></div>
        <div class="petal" style="--i:2"></div>
        <div class="petal" style="--i:3"></div>
        <div class="petal" style="--i:4"></div>
        <div class="petal" style="--i:5"></div>
        <div class="petal" style="--i:6"></div>
        <div class="petal" style="--i:7"></div>
        <div class="petal" style="--i:8"></div>
    </div>
    <div class="progress">
    </div>
</div>

</body>
</html>